body{
    background-color: #242424;
    margin: 0%;
}

.error{
    color: #c22d00;
    text-align: center;
    font-size: 5vmin;
    font-family: Helvetica, sans-serif;
}
.error-small{
    color: #c22d00;
    text-align: center;
    font-size: 3vmin;
    font-family: Helvetica, sans-serif;
}

.hiddenfileprompt{
    display: none;
}

@keyframes heartbeat{
    from{
        width:20vmin;
        animation-timing-function: ease-in-out;
    }
    to{
        width:25vmin;
        animation-timing-function: ease-in-out;
    }
}

@keyframes wideheartbeat{
    from{
        width:40vmin;
        animation-timing-function: ease-in-out;
    }
    to{
        width:50vmin;
        animation-timing-function: ease-in-out;
    }
}

@keyframes wobble-subtle{
    from{
        transform: rotate(0.1deg);
        animation-timing-function: ease-in-out;
    }
    to{
        transform: rotate(-0.1deg);
        animation-timing-function: ease-in-out;
    }
}

@keyframes wobble{
    from{
        transform: rotate(1deg);
        animation-timing-function: ease-in-out;
    }
    to{
        transform: rotate(-1deg);
        animation-timing-function: ease-in-out;
    }
}

@keyframes flashes{
    from{
        background-color: #363636;
        animation-timing-function: ease-in-out;
    }
    to{
        background-color: #3a3a3a;
        animation-timing-function: ease-in-out;
    }
}

@keyframes shadowthing{
    0%{box-shadow: -2vmin -1vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    10%{box-shadow: 2vmin 0vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    20%{box-shadow: 0vmin 2vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    30%{box-shadow: -2vmin 0vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    40%{box-shadow: 0vmin 4vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    50%{box-shadow: 1vmin -2vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    60%{box-shadow: -1vmin 1vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    70%{box-shadow: 3vmin -2vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    80%{box-shadow: 1vmin 1vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    90%{box-shadow: -1vmin 0vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
    100%{box-shadow: -3vmin 3vmin 10vmin #4d4d4d;animation-timing-function: ease-in-out;}
}

@keyframes dismiss{
    from{
        background-color: #3a3a3a;
        animation-timing-function: ease-in-out;
    }
    to{
        transform: translate(100vmin,0vmin);
        background-color: #3a3a3a;
        animation-timing-function: ease-in-out;
    }
}

.bigbutton{

    background-color: #2c2c2c;

    border-style: solid;
    border-color:#808080;

    color:#ffffff;

    margin-top: 40vh;

    text-align: center;
    
    font-family: Helvetica, sans-serif;

    cursor: pointer;

    transform: translate(0vmin,0vmin);
    transform: rotate(0deg);

    transition-duration: 2000ms;

}

@media only screen and (max-width: 5in){
    .bigbutton{
        width: 40vmin;
        height: 20vmin;

        border-radius: 2vmin;

        font-size: 10vmin;

        animation-delay: 200ms,500ms;
        animation-play-state: running, running;
        animation-name: wideheartbeat, wobble-subtle;
        animation-duration: 2000ms, 250ms;
        animation-iteration-count: infinite, infinite;
        animation-direction: alternate, alternate;
    }
}

@media only screen and (min-width: 5in){
    .bigbutton{
        width: 20vmin;
        height: 10vmin;

        border-radius: 1vmin;

        font-size: 5vmin;

        animation-delay: 200ms,500ms;
        animation-play-state: running, running;
        animation-name: heartbeat, wobble-subtle;
        animation-duration: 2000ms, 250ms;
        animation-iteration-count: infinite, infinite;
        animation-direction: alternate, alternate;
    }
}


.bigbutton:not(:active):hover{

    background-color: #363636;

    color:#ffffff;

    text-align: center;

    font-family: Helvetica, sans-serif;

    box-shadow:-2vmin -1vmin 10vmin #4d4d4d;

    transform: rotate(0deg);
    transform: translate(0vmin,0vmin);

    cursor: pointer;

    transition-duration: 500ms;

}

@media only screen and (max-width: 5in){
    .bigbutton:not(:active):hover{
        animation-delay: 250ms,750ms,1000ms,500ms,500ms;
        animation-play-state: running, running, running, running;
        animation-name: wideheartbeat, wobble, flashes, shadowthing;
        animation-duration: 1000ms, 250ms, 500ms, 10000ms;
        animation-iteration-count: infinite, infinite, infinite, infinite;
        animation-direction: alternate, alternate, reverse, alternate;
    }
}

@media only screen and (min-width: 5in){
    .bigbutton:not(:active):hover{
        animation-delay: 250ms,750ms,1000ms,500ms,500ms;
        animation-play-state: running, running, running, running;
        animation-name: heartbeat, wobble, flashes, shadowthing;
        animation-duration: 1000ms, 250ms, 500ms, 10000ms;
        animation-iteration-count: infinite, infinite, infinite, infinite;
        animation-direction: alternate, alternate, reverse, alternate;
    }
}

.bigbutton:active{
    background-color: #3a3a3a;
    color: #292929;
    transform: rotate(360deg);
    transition-duration: 100ms;
    animation-delay: 100ms;
    animation-play-state: running;
    animation-name: dismiss;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.maincanvas{
    cursor: none;
}

.introcontainer-top{
    text-align: center;
    height: 90vmin;
}
.introcontainer-bottom{
    text-align: center;

    background-color: #3c3c3c;
    border-radius: 2vmin;

    height: 4vmin;
    margin-top: 0vmin;

    clear: both;
    position: relative;
}

::-webkit-scrollbar{
    width: 0vmin;
    height: 0vmin;
}
::-webkit-scrollbar-track{
    background: #2c2c2c;
}
::-webkit-scrollbar-thumb{
    background: #474747;
}
::-webkit-scrollbar-thumb:hover{
    background: #4d4d4d;
}
::-webkit-scrollbar-corner{
    background: #252525;
}