body{
    background-color: #242424;
    margin: 0%;
}

.error{
    color: #c22d00;
    text-align: center;
    font-size: 5vmin;
    font-family: Helvetica, sans-serif;
}

.maincanvas{
    cursor: none;
}

::-webkit-scrollbar{
    width: 0vmin;
    height: 0vmin;
}
::-webkit-scrollbar-track{
    background: #2c2c2c;
}
::-webkit-scrollbar-thumb{
    background: #474747;
}
::-webkit-scrollbar-thumb:hover{
    background: #4d4d4d;
}
::-webkit-scrollbar-corner{
    background: #252525;
}